/* Import google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* set body background image and stretch to fit screen, set text color and shadow for visibility */
body{
    font-family: Roboto;
    background-image: url(../images/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.85);
}

/* ensure cursor is a pointer on all links - needed for copy link especially */
a{
    cursor: pointer;
}

/* add white space */
h1{
    margin: 30px auto;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.85);
}

/* add white space */
h2{
    margin: 20px auto;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.85);
}

/* change button color to match theme */
button{
    margin: 25px 8px 0 0;
    color: black;
    background-color: white !important;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.85);
}

textarea{
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.85);
}


p{
    letter-spacing: 1.8px;
}
/* nudge copy link placement */
i{
    position: relative;
    top: -2px;
}

/* add glass effect to main div */
.resultWindow{
    padding: 25px 50px;
    border: 0.1px solid rgba(255,255,255,0.2);
    background-color: rgba(230,230,255,0.2);
    backdrop-filter: blur(7px);
    border-radius: 8px;;
    margin: 25px auto;
}

@media (max-width: 768px) {
    i{
        position: relative;
        top: 8px;        
    }
}

